<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ziaplex.wizarsample">

    <uses-permission android:name="android.permission.CLOUDPOS_MSR"/>
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".utility.MSRActivity"
            android:label="@string/mscr_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".utility.ICCRActivity"
            android:label="@string/iccr_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".utility.BCRActivity"
            android:label="@string/bcr_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".utility.QRRActivity"
            android:label="@string/qrr_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".utility.FPRActivity"
            android:label="@string/fpr_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".utility.PActivity"
            android:label="@string/p_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
    </application>
</manifest>
